<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>iCars - wypożyczalnia samochodów</title>

    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>

<body>
<div class="nav">
    <div class="container">
        <ul class="pull-left">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Szukaj</a></li>
        </ul>
        <ul class="pull-right">
            <li><a href="#">Rejestracja</a></li>
            <li><a href="#">Zaloguj sie</a></li>
            <li><a href="#">Pomoc</a></li>
        </ul>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Znajdź swój wymarzony samochód</h1>
        <p>Wypożycz dowolnie wybrany samochód z naszej kolekcji</p>
        <a href="wypozyczanie.html">Zaczynajmy</a>
    </div>
</div>

<div class="learn-more">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Szybko i tanio</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><a href="#">Czytaj wiecej</a></p>
            </div>
            <div class="col-md-4">
                <h3>Największy wybór samochodów</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><a href="#">Czytaj wiecej</a></p>
            </div>
            <div class="col-md-4">
                <h3>Bezpieczenstwo i zaufanie</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><a href="#">Czytaj wiecej</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>