<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{% block title %}iCars - wypożyczalnia samochodów{% endblock %}</title>

    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="{{ asset('bundles/extremismcarrental/css/style.css') }}">

</head>

<body>
<div class="nav">
    <div class="container">
        <ul class="pull-left">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Szukaj</a></li>
        </ul>
        <ul class="pull-right">
            <li><a href="#">Rejestracja</a></li>
            <li><a href="#">Zaloguj sie</a></li>
            <li><a href="#">Pomoc</a></li>
        </ul>
    </div>
</div>
{% block mainBody %}
{% endblock %}

</body>
</html>